#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}


.counter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 100px;
  align-items: center;
  font-size: 30px;
  width: 100%;
}


.counter-monotonic__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 100%;
}


.counter-reset__btn {
  display: flex;
  flex-direction: column;
}